

#present {
    position: relative;
    background-color:red;
    width: 300px;
    height: 300px;
}


.blue {
    position: absolute;

    background-color:blue;
    width: 50px;
    height: 50px;
}

#b1 {
    width: 270px;
    height: 30px;
    right: 0;
}


#b2 {
    width: 20px;
    height: 260px;
    bottom: 0;
}


#b3 {
    width: 270px;
    height: 260px;
    bottom: 0;
    right: 0;
}


#b4 {
    width: 20px;
    height: 30px;
}


/*ex2*/

#graph {
    position: relative;
    background-color:rgb(92, 73, 203);
    width: 400px;
    height: 150px;
    border-radius: 7px;
}

#con1 {
    position: absolute;
    bottom: 0;
}

.column {
    position: relative;
    display: inline-block;
    background-color:rgb(189, 180, 240);
    width: 20px;
    margin:10px;
}

#tlabel {
    position:absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
}

#mlabel {
    position:absolute;
    margin: 5px;
}

#c1 {
    height: 20px;
}

#c2 {
    height: 90px;
}

#c3 {
    height: 120px;
}

#c4 {
    height: 110px;
}

#c5 {
    height: 100px;
}

#c6 {
    height: 50px;
}



#red-background {
    background-color: red;
    width: 400px;
    height:250px;
    border-radius: 5%;
    position: relative;
    bottom: 10px;
  }
  
  .silver-edges {
    background-color: grey;
    height: 85px;
    width: 85px;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
    border: 2px solid grey;
  }
  
  #edge-1 {
    position: absolute;
    right: 0;
  }
  
  #white-space {
    width: 230px;
    height: 190px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 85px;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
  }

  #chocolate {
    background-color: black;
    display: inline-block;
    padding: 4px;
  }
  #middle {
    background-color: darkred;
    height: 5px;
    width: 385px;
    margin-top: 6px;
    margin-bottom: 4px;
  }
  .block {
    background-color: #66320E;
    width: 90px;
    height: 90px;
    margin: 3px;
  }
  #block-1 {
    float: right;
  }
  #block-2 {
    float: right;
  }
  #block-3 {
    float: right;
  }
  #block-5 {
    float: left;
  }
  #block-6 {
    float: left;
  }
  #block-7 {
    float: left;
  }